body {
	background-color: #F9F9FF;
	color: #5D5A88;
	font-family: Arial, sans-serif;
	text-align: center;
	padding-top: 100px;
}

h1 {
	color: #5D5A88;
}

.button {
	background-color: #5D5A88;
	color: #FFFFFF;
	border: none;
	padding: 15px 30px;
	margin: 10px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.button:hover {
	background-color: #4a4770;
}